@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(241, 241, 241);
}

body {
  @apply dark:bg-slate-700 min-h-screen;
}

*:focus {
  outline: 2px dashed green;
}

*:focus-visible {
  outline: 2px dashed red;
}
