@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  @apply dark:bg-primary-dark-100 min-h-screen bg-primary-100 dark:text-primary-dark-800;
}

*:focus-visible {
  outline: 2px dashed red;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  /* scrollbar-color: #bbb7c8 #ffffff; */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  @apply md:w-3;
}

*::-webkit-scrollbar-track {
  @apply bg-white dark:bg-slate-600;
}

*::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-gray-800 border-2 border-white dark:border-slate-600 border-solid  rounded-xl;
}

@layer {
  .scroll-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scroll-hide::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 1024px) {
  .no-scroll-shake {
    padding-left: calc(100vw - 100%);
  }
  .no-scroll-header {
    padding-right: calc(-1 * (100vw - 100%) + 34px) !important;
  }
}
